html {
  font-family: sans-serif;
  height: 100%;
}

a {
  background-color:#0000
}

a:active, a:hover {
  outline: 0;
}

b, strong {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #F3EEE8;
  text-transform: uppercase;
  background-color: #080808;
  font-family: Pppangramsans, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}


h1, h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 36rem;
  margin-bottom: 0;
  margin-left: auto;
}

h1 {
  margin: .67em 0;
  line-height: 44px;
  letter-spacing: -.02em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .05em;
  font-size: 20vw;
  font-weight: 700;
  line-height: .75;
}

h2 {
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  mix-blend-mode: screen;
  border-style: solid;
  border-width: 2px;
  border-radius: 100vw;
  margin-top: 0;
  margin-bottom: 0;
  padding: .2em .6em .1em;
  font-size: 10vw;
  font-weight: 700;
  line-height: .8;
}

h2:hover {
  color: #000;
  background-color: #dbdbdb;
  border-color: #dbdbdb;
}

.hero {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5vw;
  display: flex;
}

.styles {
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.footer {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 5.1rem;
  padding-bottom: 5.1rem;
  display: flex;
}

.gradient {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image:linear-gradient(to top,#100EA2,#1E1E1E 100%);
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.embed {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.w-embed:before, .w-embed:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-embed:after {
  clear: both;
}

.track {
  z-index: 2;
  margin-top: -100vh;
  position: relative;
}

.heading {
  z-index: 3;
  position: relative;
}

.paragraph {
  z-index: 3;
  position: relative;
}

@font-face {
  font-family: 'Pppangramsans';
  src: url('https://assets.website-files.com/64f1dd38ef55fdc96a5415a1/64f238fe2b65d3c3fb558925_PPPangramSans-CompressedExtrabold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pppangramsans';
  src: url('https://assets.website-files.com/64f1dd38ef55fdc96a5415a1/64f238fed51d9a38f29aacfe_PPPangramSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
